.first-pannel {
	padding: 12px 38px;
	width: 100%;
}

.first-pannel label {
	line-height: 42px;
    font-size: 14px;
    padding-right: 23px;
} 

.first-pannel input {
    vertical-align: middle;    
} 

.main-panel {
	padding: 12px 38px;
	width: 100%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-panel .notification {
	width: 228px;
	height: 242px;
	background: #FFFFFF;
	box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
	padding: 14px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.notification-title {
	font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
}

.notification-title a {
	color: #000000;
}

.notification-descr {
	background-color: #FEFFD6;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 12px;
    padding: 8px;
}

.notification-intersection {
	padding: 12px 0;
}

.intersection-text {
	font-style: italic;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}

.intersection-field {
	font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #000000;
    float: right;
    padding-top: 4px;
}

.popup-content {
    padding: 25px 30px 30px 34px;
    width: 469px;
}

.delete-lead-block h1{
	font-size: 24px;
    font-weight: 400;
    left: 6px;
    line-height: 29px;
    top: -5px;
}


.delete-lead-block .cancel-button {
	width: 117px;
	height: 39px;
	background: #6FBA55;
	border-radius: 4px;
	border: none;
    color: #fff;
    margin: 12px 10px 0 0;
}


.delete-lead-block .delete-button {
	width: 117px;
	height: 39px;
	background: #DC0202;
	border-radius: 4px;
	border: none;
    color: #fff;
}

.lead-card hr {
  border-color: #8C8C8C;
  border-top: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.lead-card table {
  margin-bottom: 28px;
  margin-top: 26px;
  table-layout: fixed;
  width: 100%;
}

.lead-card table td {
  font-size: 12px;
  line-height: 14px;
  padding-bottom: 14px;
}

.lead-card table td:first-child {
  font-style: italic;
  font-weight: 300;
  width: 119px;
}

.lead-card table td:nth-child(2) {
  font-weight: 400;
  width: 171px;
}

.lead-card table textarea {
  resize: vertical;
}

.status-color {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 6px;
}
