/* --- Common --- */

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-V.ttf");
}

* {
  font-family: "Inter";
}

body {
  background: #EBECF1;
}

td, th {
  vertical-align: top;
}

button {
  cursor: pointer;
}

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

a {
  color: #0083CC;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.nowrap {
  white-space: nowrap;
}

/* --- Layout --- */

#page-menu {
  background: #E86C42;
  box-shadow: 0px 5px 30px 19px rgb(0 0 0 / 33%);
  min-height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 230px;
}

#page-menu .logo {
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: 37px;
  margin: 27px 34px 0 28px;
  text-align: center;
}

#page-menu .menu {
  padding: 77px 20px 0;
}

#page-menu .menu a {
  border-radius: 15px;
  color: #fff;
  display: block;
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 18px;
  padding-left: 44px;
  text-decoration: none;
}

#page-menu .menu a:hover {
  text-decoration: underline;
}

#page-menu .menu a.current {
  background: #fff;
  color: #E86C42;
}

#page-header {
  background: #1C3353;
  margin-left: 230px;
}

#page-header h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 200;
  line-height: 34px;
  padding: 58px 0 22px 48px;
  position: relative;
}

#page-header .profile-menu {
  padding: 2px 4px 6px 6px;
  position: absolute;
  right: 26px;
  top: 18px;
  z-index: 10;
}

#page-header .profile-menu .name {
  background: transparent url(/img/profile-menu--name.svg) no-repeat left top;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  padding: 0 15px 4px 23px;
  position: relative;
}

#page-header .profile-menu .name::before {
  background: transparent url(/img/profile-menu--arrow.svg) no-repeat left top;
  content: "";
  height: 8px;
  position: absolute;
  right: 4px;;
  top: 7px;
  width: 9px;
}

#page-header .profile-menu .menu {
  border-top: 1px solid rgba(255, 255, 255, .5);
  display: none;
  padding: 0 14px 0 0;
  text-align: right;
}

#page-header .profile-menu .menu a {
  color: #fff;
  font-size: 10px;
  margin-top: 7px;
}

#page-header .profile-menu:hover {
  background: #184C94;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} 

#page-header .profile-menu:hover .menu {
  display: block;
}

#page-content {
  margin-left: 230px;
}

/* --- Widgets --- */

.custom-select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0 32px 0 10px;
}

.custom-select::after {
  content: "";
  border-left-color: transparent;
  border-left-style: solid;
  border-right-color: transparent;
  border-right-style: solid;
  border-top-style: solid;
  position: absolute;
}

.filter-sort {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding: 0 32px 0 10px;
}

.filter-sort::after {
  content: "";
  border-left-color: transparent;
  border-left-style: solid;
  border-right-color: transparent;
  border-right-style: solid;
  border-top-style: solid;
  position: absolute;
}


.filter-sort.filter-sort-rotate::after {
  content: "";
  border-left-color: transparent;
  border-left-style: solid;
  border-right-color: transparent;
  border-right-style: solid;
  border-top-style: solid;
  position: absolute;
  transform: rotate(180deg);
  top: 44%!important;
}

.filter-sort::before {
  content: "";
  background-color: #b7b7b7;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 6px;
  top: 7px;
  border-radius: 50%;
}

.custom-select .list {
  display: none;
  left: 0;
  list-style: none;
  overflow: hidden auto;
  position: absolute;
  top: 100%;
  width: 100%;
}

.custom-select:hover .list {
  display: block;
}

/* --- Forms --- */

input[type=text],
input[type=password],
textarea {
  outline: none;
}

form {
  background: #fff;
}

form fieldset {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

form legend {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

form label {
  color: #000;
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  line-height: 15px;
  margin: 17px 0 7px;
  width: 100%;
}

form input[type=text],
form input[type=password],
form textarea {
  background: #EAEAEA;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 11px;
  resize: vertical;
}

form input[type=text],
form input[type=password] {
  height: 36px;
}

form input[type=text]::placeholder,
form input[type=password]::placeholder {
  color: rgba(0, 0, 0, .37);
}

form input.error[type=text],
form input.error[type=password] {
  border-color: #f00 !important;
}

form button {
  background: #E86C42;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 26px;
  padding: 11px 48px 12px;
}

/* --- Pager --- */

.pager {
  list-style: none;
  margin-top: 20px;
}

.pager .pages li {
  border: none;
  border-radius: 9px;
  color: #E86C42;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 3px 6px 2px;
  margin-right: 8px;
}

.pager .pages li.current {
  background-color: #E86C42;
  color: #fff;
}

.pager .pages li:hover {
  background-color: #E8E8E8;
}

.pager .pages li.current:hover {
  background-color: #E86C42;
}

/* --- Popup --- */

.popup-root {
  background: rgba(0, 0, 0, .5);
  left: 0;
  min-height: 100%;
  padding: 142px 0 20px 268px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.popup-content {
  background: #fff;
}

.popup-title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

/* --- DataTable page --- */
.data-table-add-button {
  background: #1C3353;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 42px;
  padding: 0 19px;
}

.data-table-wrap {
  background: #fff;
  margin-top: 9px;
  padding: 10px 6px;
}

.data-table-filter th {
  padding: 0 .5em 0 0;
}

.data-table-filter input[type=text] {
  background: #D9D9D9;
  border: none;
  border-radius: 7px;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  font-weight: 400;
  line-height: 37px;
  padding: 0 8px;
  width: 100%;
}

.data-table-filter input.date {
  background: #d9d9d9 url(/img/calendar.svg) no-repeat 90% 9px;
}

.leads-range input[type=date] {
  background: #d9d9d9 url(/img/calendar.svg) no-repeat 90% 9px;
  border: none;
  border-radius: 7px;
  box-shadow: inset 0px 0px 4px rgb(0 0 0 / 25%);
  font-size: 14px;
  font-weight: 400;
  line-height: 37px;
  padding: 0 8px;
}

.data-table-filter input[type=date]::-webkit-calendar-picker-indicator {
  background: url(/img/calendar.svg) no-repeat 84px 9px;
}

.data-table-filter .filter-select {
  background: linear-gradient(180deg, #E8E8E8 25.97%, #DCD7D7 100%);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  border-radius: 8px;
  color: #838383;
  font-size: 14px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  width: 100%;
}

.data-table-filter .filter-select::after {
  border-left-width: 6px;
  border-right-width: 6px;
  border-top-color: #000;
  border-top-width: 9px;
  margin-top: -4px;
  position: absolute;
  right: 10px;
  top: 50%;
}

.data-table-filter .filter-select .caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.data-table-filter .filter-select .list {
  background: linear-gradient(180deg, #E8E8E8 25.97%, #DCD7D7 100%);
  box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
  max-height: 240px;
  padding: .5em;
  z-index: 1;
}

.data-table-filter .filter-select .list li {
  line-height: 24px;
}

.data-table-filter .filter-select .list li:hover {
  background: #dcd7d7;
}

.data-table-filter input[type=text]:focus {
  background-color: #fff;
}

.data-table-filter input[type=text]::placeholder {
  color: #aeaeae;
}

.data-table {
  border-spacing: 0 6px;
  min-width: 100%;
  white-space: nowrap;
}

.data-table td {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 2px 8px 3px;
}

.data-table tbody tr:hover {
  background: #E4E4E4;
}

.data-table .filter-order {
  padding: 10px 32px 10px;
}

/* --- Misc --- */

.xls-link {
  display: inline-block;
  padding-left: 32px;
  position: relative;
}

.xls-link::before {
  content: "";
  background: transparent url(/img/xls.svg) no-repeat left top;
  display: inline-block;
  height: 25px;
  left: 0;
  top: -8px;
  position: absolute;
  width: 25px;
}

.xls-link-white {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  padding-right: 27px;
  position: relative;
  position: absolute;
  right: 30px;
  top: 74px;
}

.xls-link-white::after {
  content: "";
  background: transparent url(/img/xls-white.svg) no-repeat left top;
  display: inline-block;
  height: 18px;
  position: absolute;
  right: 0;
  top: -2px;
  width: 18px;
}

.close-cross {
  position: relative;
  float: right;
  z-index: 1;
  cursor: pointer;
}

.popup-text {
  padding: 12px 0;
  font-size: 12px;
}

.popup-button {
  border: 1px solid #E86C42;
  border-radius: 6px;
  color: #E86C42;
  float: left;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  margin-right: 23px;
  padding: 0 36px 0 10px;
  background-color: transparent;
}

.enable-button {
  display: none;
  color: #447EED;
}

.button-success {
  background: #6FBA55;
  border-radius: 4px;
  border: none;
  padding: 12px 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.button-danger {
  background: #DC0202;
  border-radius: 4px;
  border: none;
  padding: 12px 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.button-cancel {
  background: #A0A0A0;
  border-radius: 4px;
  border: none;
  padding: 12px 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.buttons-content {
  display: flex;
  margin-top: 48px;
  justify-content: space-between;
  max-width: 279px;
}